.score {
    width: 50%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.final-score {
    width: 50%;
    height: 300px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: xx-large;
    animation: entrance 1s ease-in-out;
}

@keyframes entrance {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
